[Desktop Entry]
Version=1.0
Name=Copy me that key
GenericName=Copy me that key
Comment=Copy to clipboard a stored key
Exec=getkey
Terminal=false
Type=Application
Categories=Applications;
Icon=security-high
StartupNotify=true
