[Desktop Entry]
Version=1.0
Name=Copy me that key
GenericName=Copy me that key
Comment=Copy to clipboard a stored key
Exec=sendclip --key
Terminal=false
Type=Application
Categories=Applications;
Icon=password
StartupNotify=true
