[Desktop Entry]
Version=1.0
Name=Copy me that key
GenericName=Copy me that key
Comment=SSH key
Exec=getkey
Terminal=false
Type=Application
Categories=Applications;
Icon=edit-paste
StartupNotify=true
