[Desktop Entry]
Version=1.0
Type=Application
Name=Re-enable Repositories
Comment=Try to re-enable repositories been disabled after a distro upgrade
Comment[el]=Προσπάθεια επανενεργοποίησης των αποθετηρίων που έχουν απενεργοποιηθεί μετά από μια αναβάθμιση διανομής
GenericName=Re-enable repositories tool, version 2.0.2
GenericName[el]=Εργαλείο επανενεργοποίησης αποθετηρίων, έκδοση 2.0.2
Exec=pkexec-afterdistupgrade
Icon=reload
Categories=GTK;System;
Keywords=apt;ppa;
StartupNotify=false
